@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

.PageFooter {
	background-color: $grey4;
	padding: 1em;
	color: $white;
	text-align: center;
	margin-top: 2em;
	position: absolute;
	width: 100%;
    bottom: 0;
}
