@import "../scss/global/Colors";
@import "../scss/global/ScreenSizeResponsivenessVariables";

.PageFooter {
	background-color: $dark-grey;
	padding: 1em;
	color: $white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
