//$grey1: rgb(216, 216, 216);
$grey2: rgb(190, 190, 190);
$grey3: rgb(161, 161, 161);
$grey4: rgb(63, 63, 63);

$blue: rgb(57, 177, 207);
$green: rgb(70, 211, 89);
$green-hover: rgb(95, 231, 113);
$orange: rgb(245, 192, 79);
$orange-hover: rgb(255, 209, 111);
$white: rgb(255, 255, 255);

$percent-darker-at-hover: 7%

