$grey: rgb(243, 243, 243);
$grey1: rgb(238, 238, 238);
$grey2: rgb(190, 190, 190);
$grey2-hover: rgb(212, 212, 212);
$grey3: rgb(161, 161, 161);
$grey4: rgb(63, 63, 63);

//rgb(76, 209, 226) rgb(65, 197, 214) lighter blue
$blue: rgb(57, 177, 207);
$blue2: rgb(62, 166, 192);
$blue3: rgb(58, 154, 179);

$green: rgb(83, 204, 99);
$green-hover: rgb(95, 226, 112);
$orange: rgb(245, 192, 79);
$orange-hover: rgb(255, 209, 111);

$red: rgb(235, 102, 102)



