@import "../scss/global/ColorVariables";
@import "../scss/global/ScreenSizeResponsivenessVariables";

.ProductSearch {

    input {
        border: none;
        outline: none;
        border-radius: 1em;
        padding: 0.2em 0 0.2em 0.4em;
        width: 26em;
    }

}