@import "../scss/global/ColorVariables";
@import "../scss/global/ScreenSizeResponsivenessVariables";

.ShoppingCartIconAndName {
    display: flex;
    align-items: center;
    padding: 0.5em;
    
    p {
        padding-left: 0.5em;
    }

    &:hover {
        background-color: darken($blue, $percent-darker-at-hover);
        cursor: pointer;
    }
		
}