@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";


.BrowseProductsPage {

    .SortMenuAndProductList {
        max-width: 120em;
        margin: 2em auto 0 auto;

        .ProductFilterComponent {
            margin: 1em auto 0 auto;
        }
    
        .ProductSortMenuComponent {
            width: 80%;
            margin: 1em auto 1em auto;
            display: flex;
            justify-content: flex-end;
    
            .SelectSortBy {
                border: 1px solid black;
                outline: none;
                padding: 0.6em 0 0.6em 0.6em;
                font-size: 15px;
                position: relative; 
            }
            
            .form-select {
                background-color: red;
                background: red;
            }
        }
    }
}