@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

.ProductInfoCard {
    position: relative;
    background-color: $white;
    border-radius: 0.25em;
    height: 33.2em;
    padding: 18px;
    // total px = image width + padding on each side
    width: 256px + 18px + 18px;

    box-shadow:         3px 3px 12px 0px rgba(116, 116, 116, 0.75);
    -moz-box-shadow:    3px 3px 12px 0px rgba(116, 116, 116, 0.75);
    -webkit-box-shadow: 3px 3px 12px 0px rgba(116, 116, 116, 0.75);
    

    img {
        margin-bottom: 1em;
    }

    h1 {
        font-style: italic;
        margin-bottom: 0.15em;
    }

    .BottomRow {
        position: absolute;
            bottom: 18px;
            right: 18px;
            display: flex;
    }


    .AddToShoppingCartButton {
        background-color: $green;
        display: flex;
        align-items: center;
        padding: 0 0.7em;
        &:hover {
            cursor: pointer;
            background-color: $green-hover;
        }
    }

    .ViewProductDetailsButton {
        display: flex;
        align-items: center;
        background-color: $orange;
        padding: 1em;
        margin-left: 0.2em;
        color: white;
        font-weight: bold;

        p {
            margin-right: 2.5em;
        }

        &:hover {
            cursor: pointer;
            background-color: $orange-hover;
        }

    }

    .Rating {
        display: flex;
        align-items: center;

        p {
            padding: 0 0 0.2em 0.2em;
            font-size: 14px;
        }

        .Stars {
            >* {
                margin: 0.4em 0.4em 0.4em 0;
            }
        }
    }

}