@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

@mixin categoriesRowStyle($backgroundColor) {

    background-color: $backgroundColor;
        display: flex;
        justify-content: center;

        ul {
            width: 80%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                padding: 1em 3em;
                &:hover {
                    background-color: darken($backgroundColor, $percent-darker-at-hover);
                    cursor: pointer;
                }
            }
        }

}

.ProductCategories {
    color: white;

    .MainCategories {
        @include categoriesRowStyle($grey3);

        .SelectedCategory {
            background-color: darken($grey3, $percent-darker-at-hover);
        }
    }

    .SubCategories {
        @include categoriesRowStyle(($grey2));

        .SelectedSubCategory {
            background-color: darken($grey2, $percent-darker-at-hover);
        }

        .EmptySubCategories {
            color: $grey2;
            li:hover {
                background-color: $grey2;
                cursor: default;
            }
        }
    }

}