@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

.LoginAndRegisterModal {
    color: white;
    
    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $blue3;
        border-radius: 0.3em 0.3em 0 0;
        padding: 0.9em 1em;
        min-width: 19em;
        font-size: 24px;

        .CloseButton {
            padding: 0.08em 0.25em 0 0.28em;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .Content {
        background-color: white;
        color: black;
        padding: 1.5em 1.8em 3.3em 1.8em;

        .InputContainer {
            padding: 0.5em 0;

            p {
                padding-bottom: 0.5em;
            }

            input {
                outline: none;
                border-radius: 0.2em;
                padding: 0.3em;
                min-width: 25em;
                border: 1px solid rgb(184, 184, 184);
            }

            .InputError {
                color: white;
                background-color: $red;
                margin-top: 0.4em;
                padding: 0.3em;
                border-radius: 0.2em;
                max-width: 20.8em;
            }
        }

        .DemoInformation {
            border-radius: 1em;
            margin-bottom: 1.8em;
            border: 1px solid $red;
            padding: 1em;
            max-width: 33em;

            h2 {
                padding-bottom: 0.3em;
            }

            p {
                font-size: 15px;
            }

            .Accounts {
                font-weight: bold;
                color: $green;
                font-size: 16px;
            }

            
        }
    }

    .Footer {
        background-color: $grey1;
        padding: 1em;
        border-radius: 0 0 0.3em 0.3em;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .SwitchBetweenLoginAndRegisterButton {
            color: rgb(114, 114, 114);
            padding: 0.5em 0.5em;
            
            border-radius: 0.15em;

            &:hover {
                cursor: pointer;
            }
        }

        .SubmitButton {
            background-color: $blue3;
            padding: 0.8em 1em;
            margin-left: 0.9em;
            min-width: 8em;
            border-radius: 0.15em;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }
    }
}