@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

.UserMenu {
    background-color: $blue3;

    .MenuItems>div {
        padding: 1em 0 1em 2em;
        min-width: 10.5em;
        white-space: initial;

        &:hover {
            background-color: darken($blue3, 3.5);
            cursor: pointer;
        }
    }

    hr {
        margin: 0 auto;
        width: 9em;
    }
}