@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";

.HomePage {

    .HomePageImage {
        position: relative;

        img {
            display: block;
            width: 100%;
            min-height: 20em;
            max-height: 40em;
            opacity: 45%;
        }

        .InfoOnImageContainer {
            position: absolute;
            top: 18%;
            left: 10%;
            
            h1 {
                font-size: 50px;
                font-style: italic;
                font-weight: normal;
            }

            h1:nth-child(2) {
                padding: 0.3em 0 0.8em 2em;
            }

            .BrowseProductsButton {
                background-color: $orange;
                padding: 1em;
                width: 13.5em;
                border-radius: 0.3em;
                position: relative;
                
                &:hover {
                    cursor: pointer;
                }

                .ButtonArrowEdge {
                    position: absolute;
                    top: 0.49em;
                    right: -1.1em;

                    padding: 1.29em;
                    background-color: $orange;
                    transform: rotate(45deg);
                    border-radius: 0.3em; 
                }

                p {
                    color: white;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: $responsive-size-small) {

        .HomePageImage {

            .InfoOnImageContainer {
                top: 10%;
                left: 5%;
            }
        }
	}

    .FeaturedProductsSlideShow {
        //background-color: grey;
    }
    

}

// .Home {
    


//     .Body {
//         background-color: rgb(250, 250, 250);
//         text-align: center;
//         margin-top: 2em;
//         h3 {
//             font-size: 40px;
//         }

//         .Featured {
            
//             width: 45%;
//             margin: 3em auto;
//             display: flex;
//             justify-content: space-between;

//             .Arrow {
//                 padding: 1.5em;
//                 background-color: rgb(216, 216, 216);
//                 margin: 1em;
//                 border-radius: 3em;
//                 height: 5%;
//                 margin-top: 6em;
//             }
//             .Item{

//                 padding: 7em;
//                 margin: 0.3em;
//                 background-color: rgb(151, 151, 151);
//             }
//         }
//     }

    
// }