@import "../../scss/global/ColorVariables";
@import "../../scss/global/ScreenSizeResponsivenessVariables";


.ProductDetailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60em;
    margin: 3em auto 0 auto;
}

.Rating {
    display: flex;
    align-items: center;

    p {
        padding: 0 0 0.2em 0.2em;
        font-size: 14px;
    }

    .Star {
        margin: 0.3em 0.3em 0.3em 0;
    }
}